#game-board {
    float: left;
    padding: 20px 0px;
}

#start-button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

canvas {
    position : absolute;
    top: 25%;
    left: 25%;
    transform: (-50%, -50%);
    border : 1px solid black;
    width: 1000px;
    height: 475px;
    background-color: #fff;
    font-family: 'Orbitron', sans-serif;
}


